.box {
    margin: auto;
    margin-top: 4%;
}

.grid {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 5% 95%;
    border: 1px #FF6B6B solid;
}

.grid-bg {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #FF6B6B;
}

.grid-form {
    grid-column-start: 2;
    grid-column-end: 3;
}